<p class="lead mb-3"><i class="far fa-smile"></i>   Xush kelibsiz,  <%= name %></p>
<br>
<div class="card" style="width: 18rem;">
    <img src="https://pngimg.com/uploads/pubg/pubg_PNG27.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PUBG Mobile</h5>
      <p class="card-text"><b>PlayerUnknown's Battlegrounds (PUBG)</b> is an online multiplayer battle royale game developed and published by PUBG Corporation, a subsidiary of South Korean video game company Bluehole.</p>
    </div>

    <div class="card-body">
      <a href="#" class="card-link">Download</a>
      <a href="#" class="card-link">Another Games</a>
    </div>
  </div>


<a href="/users/logout" class="btn btn-danger">Chiqish   <i class="fas fa-sign-out-alt"></i></a>