<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1><i class="fas fa-tv"></i></h1>
        <h1>Ro'yxatdan o'ting Dunyo va O'zbekiston yangiliklarini domiy kuzatib boring, hamda foydali ma'lumotlarga ega bo'ling </h1>
        <a href="/users/register" class="btn btn-primary btn-block mb-2"
          >Ro'yxatdan o'tish</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block">Kirish</a>
      </div>
    </div>
  </div>